APP_NAME='Healthcare Portal'
APP_ENV=local
APP_KEY=base64:SAMqWmvXfos0lFEVIQHMc6i0dKw7Sya05EYTtrjsjKc=
APP_DEBUG=true
APP_URL=https://testikportal.management-partners.co.jp

LOG_CHANNEL=stack

DB_CONNECTION=mysql
DB_HOST=160.16.69.217
DB_PORT=3306
DB_DATABASE=ikportal
DB_USERNAME=ikportal
DB_PASSWORD=ikportal


APP_URL=https://testikportal.management-partners.co.jp

LOG_CHANNEL=stack

DB_CONNECTION=mysql
DB_HOST=160.16.69.217
DB_PORT=3306
DB_DATABASE=testikportal
DB_USERNAME=testikportal
DB_PASSWORD=Qm8#8xqO

APP_URL=https://t-i-s.jp

LOG_CHANNEL=stack

DB_CONNECTION=mysql
DB_HOST=153.126.142.67
DB_PORT=3306
DB_DATABASE=ikportal
DB_USERNAME=ikportal
DB_PASSWORD=admin@t-i-s.jp

BROADCAST_DRIVER=log
CACHE_DRIVER=file
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_DRIVER=smtp
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=management.partner87@gmail.com 
MAIL_PASSWORD=P@ssw0rd&P@ssw0rd
MAIL_ENCRYPTION=tls

MAIL_DRIVER=smtp
MAIL_HOST=t-i-s.sakura.ne.jp
MAIL_PORT=587
MAIL_USERNAME=info@t-i-s.jp
MAIL_PASSWORD=YCYf8OTu
MAIL_ENCRYPTION=tls

#MAIL_DRIVER=smtp
#MAIL_HOST=mp-co.sakura.ne.jp
#MAIL_PORT=587
#MAIL_USERNAME=thuzar@management-partners.co.jp
#MAIL_PASSWORD=6hhjk0re
#MAIL_ENCRYPTION=tls
# MAIL_USERNAME=thuzar@management-partners.co.jp
# MAIL_PASSWORD=6hhjk0re

# MAIL_USERNAME=susan@management-partners.co.jp
# MAIL_PASSWORD=l56uk7c3

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_APP_CLUSTER=mt1

APP_TIMEZONE = 'Asia/Tokyo'
DB_TIMEZONE = '+05:30'

MIX_APP_URL="${APP_URL}"
MIX_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
MIX_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"


JWT_SECRET=DEk9UjkoslFU2Q8uJ1t586yrctreIJSt8LsmlbTAcrcvnB7awsOGlTuIsj44RJbs



APP_URL=http://192.168.10.111:8000

LOG_CHANNEL=stack

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=healthcare_portal
DB_USERNAME=root
DB_PASSWORD=